html {
                margin: auto;
                height: 100%;
                background-color: rgb(2,0,36);
                background-image: linear-gradient(339deg, rgb(0, 0, 0) 0%, rgb(43, 43, 43) 100%);
            }
            
            img {
                margin-top: 20px;
                margin-left: 20px;
            }

            li {
                padding: 0.5rem;
                overflow-y: auto;
                border-bottom: solid #464646 1px;
                margin-top: 1rem;
                margin-bottom: 1rem;
                text-align: left;
                max-width: inherit;
                margin-right: 10px;
            }
            
            #send {
                
                border: none;
                color: white;
                padding: 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 12px;
                background-color: #d83f87;
                width: 100px;
                float: right;
                
            }
            
            .grid-container {
                display: grid;
                grid-template-columns: 250px 1fr;
                grid-template-rows: 100px 90%;
                grid-template-areas: "Header Header" "SideMenu Main";
                height: 90%;
            }
            span{
                color: white;
            }

            .Main { 
                
                grid-area: Main; 
            
            }


            .Header { 
                
                grid-area: Header; 
                background-color: #111111;
                
            }

            .SideMenu { 
                
                grid-area: SideMenu; 
                background-color: #1c1c1c;
                
            }
            
            
            .box-grid-container {
                
                display: grid;
                grid-template-columns: 100%;
                /*grid-template-rows: 3fr 1fr;*/
                grid-template-areas: "chatBox" "messageBox";
                grid-gap: 10px;
                margin: 10px;
            }
            

            .box-chatBox { 
                
                background-color: #161618;
                border-radius: 0.5rem;
                overflow-y: scroll;
                height: 700px;
                color: white;
                margin-bottom: 0px;
                
            }
            
            
            /* Custom Scrollbar from https://codepen.io/seanmccaffery/pen/snadI */
            .box-chatBox -webkit-scrollbar {
                width: 8px;
            }

            .box-chatBox -webkit-scrollbar-track {
                background: white;
            }

            .box-chatBox -webkit-scrollbar-thumb {
                background: rgba(255,0,0,0.8);
            }

            .box-chatBox -webkit-scrollbar-thumb:hover {
                background: rgba(255,0,0,0.8);
            }
